
* {
    margin: 0;
    padding: 0;
    }
     
html, body {
	min-height:100%;
	min-width: 1000px;
	}

#header{
	text-align:center;
	background-image:url(images/texture6.jpg);	
	border-bottom:2px solid black;
	font-family: 'Jacques Francois Shadow', cursive;
	font-size:  130%;
	font-weight:  300;
	}	
	
#banner{
	top: 0;
    left: 0;
	background-image:url(images/paris6.jpg);
	color:#000080;
	text-align:center;
	height: 213px;
    width: 100%;
	
	}
#banner img{
	float:left;
	}

#menus{
	background-color:black;
	border-top:4px solid white;
	}	
	
#menus ul{
	text-align:center;
	}

#menus li{
	display:inline;	
	margin-left:-4px;
	width:70px;
	}
	
#menus a{
	text-decoration:none;
	font-weight:bold;
	color:white;
	background-color:black;
	padding:5px 10px 5px 10px;
	border:2px solid white;
	font-family: 'Oxygen Mono', sans-serif;
	}	
	
#menus a:hover{
	color:black;
	background-color:white;
	}	
	
#menus a:active{
	color:blue;
	}	
	
#border{
	color:black;
	}

#container{
	background-image:url(images/texture2.jpg);	
	margin:0;
	padding-top:20px;
	padding-bottom:20px;
	min-height:100%;
	}	
	
#right_column {
	margin: 10px 80px 10px 80px;
	border: 8px double black;
	border-radius:25px;
	font-size:  110%;
	font-weight:  400;
	font-family: 'Headland One', serif;
	background-image:url(images/texture9.jpg);
	padding-left: 80px;
	padding-top:40px;
	padding-right:40px;
	min-height:100%;
	}
	
#right_column h1{
	font-size:  150%;
	color:#00009D;
	font-weight:  500;
	}	

#right_column h2{
	font-size:  130%;
	color:#00009D;
	font-weight: 500;
	clear:both;
	}
	
#right_column h3{
	font-size:  120%;
	color:#00009D;
	font-weight:  500;
	clear:both;
	}
	
#right_column p {
	padding: 15px 15px 15px 50px;
	}
	
#right_column p img{
	float:right;
	}	
	
#right_column img{
		float :left;
		margin:20px 20px 20px 20px;
		border:2px double black;
		}
		
#right_column hr {
	clear:both;
	}
	
th,td{
	border:1px solid black;
	padding:2px 10px 2px 10px;
	font-size:  80%;
	font-weight:500;
	}

th {
    color: white;
    background-color: black;
    } 
	
table{
	border-collapse:collapse;
	float:right;
	margin:0 10px 30px 30px;
	border: 2px solid black;
	}	

.even {
    background-color: #AADD9D;
    }	
#footer{
	text-align:center;
	background-image:url(images/texture2.jpg);	
	font-size:  100%;
	font-weight:500;
	margin-bottom:20px;
	padding:10px 0px 10px 0px;
	border:2px double black;
	}	
	
#footer a{
	text-decoration:none;
	font-weight:normal;
	color:white;
	background-color:black;
	margin-top: 5px;
	padding:5px 10px 5px 10px;
	border:2px solid white;
	}	
	
#footer a:hover{
	color:black;
	background-color:white;
	}		
